.custom-btn(@bg-color:@background-color,@button-text:@text-color){
     display: block;
    background-color:@bg-color;
    // margin: 0 10px 20px;
    cursor: pointer;
    width:50%;
    height: 45px;
    font-size: 1.4rem;
    border-radius: 5px;
    color: @button-text;
    border: 2px @header-color inset;

    text-shadow: 5px 2px 2px @header-color;
}

.flexus(@justify,@align){
    display:flex;
    justify-content: @justify;
   align-items:@align; 
}