.comment-username {
  width: 20%;
  text-align: center
}
.comment-text {
  width:75%;
}

.comment {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.LoginWrapper{
  margin: 3% auto;
  border: 3px solid #F34213;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.LoginWrapper input {
  margin: 1.5%;
}