.comment-username {
  width: 20%;
  text-align: center
}
.comment-text {
  width:75%;
}

header {
  height: 100px;
  background-color: orange;
  width: 100%;
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.LoginWrapper{
  width: 20%;
  margin: 3% auto;
  border: 3px solid #F34213;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.LoginWrapper input {
  margin: 1.5%;
=======
  justify-content: space-evenly;
>>>>>>> 417ad0adb46cc8dd187ae12ec6f6e965041325a8
}