.comment-username {
  width: 20%;
  text-align: center
}
.comment-text {
  width:75%;
}

header {
  height: 100px;
  background-color: orange;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}